# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Gradle
.gradle/
build/
local.properties
*.class
*.jar
*.aar
!gradle/wrapper/gradle-wrapper.jar

# Android
clients/android/build/
clients/android/.cxx/

# iOS
clients/ios/Pods/
clients/ios/build/
clients/ios/*.xcworkspace

# KMP
.kotlin/
*.xcframework/

# Node.js (backend)
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
